.img {
    width:100%;
    margin-top: -8px;
}

.content {
    width: 70%;
}

.center {
    display: flex !important;
    justify-content: center !important;
}

.info {
    width: 80%;
}

.verticalCenter {
    display: flex !important;
    align-items: center !important;
}

.boxContents {
    padding-top: 1% !important;
}

.topGrid {
    padding-bottom: 0 !important;
}

.vegetableContainer {
    padding-top: 0 !important;
}

@media only screen and (max-width: 900px) {
    .info {
        width: 100%;
    }

    .imgContainer {
        text-align: left;
        padding-top: 2%;
    }

    .boxInfo {
        padding-top: 0 !important;
    }

    .vegetableContainer {
        width: 90% !important;
    }

    .content {
        padding: 3% !important;
        width: 100% !important;
    }
}

@media only screen and (max-width: 1300px) {
    .content {
        padding: 3% !important;
        width: 80% !important;
    }
}