.navlinks {
    display: flex;
    justify-content: space-around;
    flex-grow: 1;
}

.toolbar {
    background-color: #9ca37c;
    min-height: 30px !important;
}

.logo {
    flex-grow: 1;
    cursor: pointer;
}

.link {
    text-decoration: none;
    color: white;
    font-size: 16px;
    display: flex;
    align-items: center;
}

.link:hover {
    border-bottom: 1px solid white;
}